@use "_variables" as *;

.content {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  padding: 2rem 0;
  overflow-x: hidden;
  min-height: calc(100vh - $nav-bar-height - $footer-height - 4rem - 2px);

  & > div {
    padding: 1rem 0;
  }
}

@media (max-width: $desktop) {
  .content {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: $tablet) {
  .content {
    width: 95%;
    margin-left: 2.5%;
  }
}

@media (max-width: $phone) {
  .content {
    width: 80%;
    margin-left: 10%;
  }
}
