.jumbo {
  height: 90vh;
  text-align: center;

  img {
    height: 100%;
    width: 100%;
  }
}

.jumboWrapper {
  position: absolute;
  top: 4.5rem; // Keep in sync with navbar height
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: white;
  height: calc(100% - 6rem);

  h1 {
    font-size: 4rem;
    margin-top: 25vh;
  }

  h2 {
    font-size: 2rem;
  }
}

.content {
  text-align: center;

  padding: 6rem;
}
