@use "../_variables" as *;

.intro {
  display: flex;
  flex-direction: row;

  @media (max-width: $phone) {
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 24px;
  min-width: 325px;

  & > span {
    margin-bottom: 12px;
  }

  img {
    max-width: 500px;

    @media (max-width: $tablet) {
      max-width: 250px;
    }
  }

  @media (max-width: $tablet) {
    padding: 0px;
  }

  @media (max-width: $phone) {
    padding: 24px 0;
  }
}
