@use "../_variables" as *;

.navBar {
  height: $nav-bar-height;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;

  img {
    height: 4rem;
    padding: 0.5rem;
  }
}
